.card:hover{
    box-shadow: 5px 10px 20px 1px ;
}
.card-text {
    padding: 0.1rem ;
    font-size: 1rem;
}
.container-card{
   display: grid;
   grid-template-columns: repeat(auto-fill, 300px);
   gap: 40px;
   padding: 40px;
   justify-content: center;

}