
#demotext {
    font-size: 50px;
    text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px, 2px 2px 2px rgba(206,89,55,0);
    color: #0C0C0C;
    
    }
    /* modalidad online */
    .container-online{
        margin-bottom:10%;
        color: white;
    }

h1{
    padding-bottom: 20px;
}
    #online{
        width: 70%;
        height: 110%;
        padding-right: 1%;
    }
    p{
        letter-spacing: 2px;
        padding: 8px;
        width: 200px;
        height: 200px;
      
    }
    /* modalidad presencial */
    #presencial{
        width: 100%;
     
    }
    .container-presencial{
        margin-bottom:10%;
        color: white;
    }