
#demotext {
    font-size: 50px;
    text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px, 2px 2px 2px rgba(206,89,55,0);
    color: #0C0C0C;
    
    }
    /* carousel */
   

    
    /* modalidad online */
    .container-online{
        margin-bottom:10%;
        color: white;
    }

h1{
    padding-bottom: 20px;
}
    #online{
        width: 70%;
        height: 110%;
        padding-right: 1%;
    }
   #info{
  
        letter-spacing: 2px;
        padding-top: 12px;
        margin-top: 5px;
        width: 200px;
        height: 200px;
      
    }
    /* modalidad presencial */
    #presencial{
        width: 100%;
     
    }
    .container-presencial{
        margin-bottom:10%;
        color: white;
    }
    /* info sobre los cursos */

    #info-curso{
        color: black;
        font-size: 15px;
    }

    /* css cursos/home */
    .container-cursos{

        color: white;
        font-size: 20px;
    }
    #img-kids{
        width: 80%;
        
        padding-left: 100px;
        margin-bottom: 5px;
    }
   
    #img-taller{
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    .btn{
        margin: 5px;
    }