.container-curso{
   letter-spacing: 3px;
 margin: 10%;
 border: 30px outset #1C6EA4;
border-radius: 40px 40px 40px 29px;
background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

h1 {
   text-align: center;
   text-transform: uppercase;
   color: #4CAF50;
   text-decoration: underline solid rgb(68, 68, 68);
}
p{
   text-align: center;
}
