.container-blog{
margin: 15px;
color: white;
border: 30px outset #1C6EA4;
border-radius: 40px 40px 40px 29px;
background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
letter-spacing: 5px;
font-size: 20px;
}
#tituloBlog{
    font-size: 45px;
    color: #444444;
background: #FFFFFF;

}
#visa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

@media (max-width: 768px){

    #imagen-blog{
        width: 40%;
    }

}